extends layout

block content
  form(action='/message' method='post')
    input(type='text' name='name' placeholder='name')
    div
      input(type='text' name='text' placeholder='message')
      div
        input(type='submit' value='send' name='sendBtn')
  form(action='/upload')
    input(type='submit' value='to upload page')
    //- script(src='../ssr.js')