extends layout

block content
  div.content-section.text-center
    div.row.col-xl-12.mx-auto
      form.form-first(action='/message/regist',method='post')
        input#input-box(type='text',name='name',placeholder='name')
        div
          input#input-box(type='text',name='text',placeholder='message')
          div
            input.btn.btn-primary.btn-x(type='submit',value='send',name='sendBtn')
    //- div.row
    //-   form.form-second(action='/upload')
    //-     input.btn.btn-primary(type='submit',value='to upload page')
    a.menu-toggle.rounded(href='#')
      i.fas.fa-bars
    nav#sidebar-wrapper
      ul.sidebar-nav
        li.sidebar-brand
          a.js-scroll-triggr(href='#page-top') menu
        li.sidebar-nav-item
          a.js-scroll-trigger(href='/upload') data upload
    div.row.col-lg-12.text-center.mx-auto#second-section
      table.table-list
        tr.message-list
          th
          th
      //- each article in item
      //-   p= article.userName


  //- 静的ファイルの読み込みはpublicディレクトリから行われるようなので
  //- パスを記載するときは /public/css ~ ではなく /css~ とする
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/javascripts/stylish-portfolio.min.js')
  script(src='/javascripts/articles.js')
        //- script(src='../ssr.js')