extends layout

block content
  form(action='/' method='post')
    input(type='text' name='name' placeholder='name')
    div
      input(type='text' name='text' placeholder='message')
      div
        input(type='submit' value='send' name='sendBtn')

  form(action='/upload' method='post')
    input(type='file')
    div
      input(type='submit' value='send image' name='sendImg')
  div(id='workspace')
    script(src='../ssr.js')